name: Push to ShinyApps
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - name: Deploy
        run: |
          Rscript -e "install.packages('rsconnect')"
          Rscript -e "rsconnect::setAccountInfo(name='${{ secrets.SHINY_ACC_NAME }}', token='${{ secrets.SHINY_TOKEN }}', secret='${{ secrets.SHINY_SECRET }}')"
          Rscript -e "rsconnect::deployApp(account='${{ secrets.SHINY_ACC_NAME }}')"
