- name: Deploy
  shell: Rscript {0}
  env:
    SHINY_ACC_NAME: ${{ secrets.SHINY_ACC_NAME }}
    SHINY_TOKEN: ${{ secrets.SHINY_TOKEN }}
    SHINY_SECRET: ${{ secrets.SHINY_SECRET }}
  run: |
    install.packages("rsconnect", repos = "https://cloud.r-project.org")

    rsconnect::setAccountInfo(
      name   = Sys.getenv("SHINY_ACC_NAME"),
      token  = Sys.getenv("SHINY_TOKEN"),
      secret = Sys.getenv("SHINY_SECRET")
    )

    rsconnect::deployApp(account = Sys.getenv("SHINY_ACC_NAME"))
